@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
	font-family: "Lato";
	color: #000000;
	background-color: #ffffff;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page__one {
	margin-top: 25px;
}

.head__container {
	margin-top: 25px;
}
.head__title {
	font-size: 30px;
}
.head__subtitle {
	font-size: 20px;
}

.input__result-container tr td {
	border: 1px solid black;
	padding: 10px;
}

.game-container {
	position: relative;
	width: 100%;
	height: 1000px;
	background-size: cover;
	background: url("../img/field.jpeg");
}

.tank {
	position: absolute;
	left: 0;
	width: 100px;
	height: 100px;
	background-image: url("../img/tank.png");
	background-size: cover;
	transition: all 2s ease-in-out;
}

.tank.explosion {
	background-image: url("../img/explosion.png");
	background-size: cover;
	width: 100px;
	height: 100px;
	transition: all 0.5s ease-in-out;
}
